<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.control.dut/moloc/MOloc"
			class = "dut.control.moloc.mOloc.MOlocPackage"
			genModel = "model/generated/MOloc.genmodel" />
	</extension>
</plugin>
